// navigation
header {
  position: relative;
  background: $white;
  box-shadow: 0 0 5px 0 rgba($dark, 0.5);
  z-index: 10;

  h3 {
    display: inline-block;
  }

  ul {
    float: right;
    text-align: right;

    li {
      margin-top: 4px;
      margin-left: 6px;

      a {
        display: block;
        padding: 5px;
      }
    }
  }

  @media screen and (max-width: 742px) {
    h3 {
      display: block;
      text-align: center;
    }

    ul {
      float: none;
      text-align: center;
    }
  }
}

// login
#login {
  background: linear-gradient(to right, $primary 0%, $primary 50%, $white 50%, $white 100%);

  @media screen and (max-width: 742px) {
    height: 100vh;
    background: $white;
  }

  .col1,
  .col2 {
    height: 100vh;
    padding-top: 30vh;
    @media screen and (max-width: 742px) {
      height: auto;
      padding-top: 20vh;
    }
  }

  .col1 {
    color: $white;
    @media screen and (max-width: 742px) {
      display: none;
    }

    p {
      max-width: 490px;
      margin-top: 2rem;
      line-height: 1.8;
    }

    a {
      color: $white;
      text-decoration: underline;
    }
  }

  .signup-form {
    padding-top: 20vh;
    @media screen and (max-width: 742px) {
      padding-top: 10vh;
    }
  }

  .col2 {
    h1 {
      margin-bottom: 2rem;
    }

    form {
      max-width: 450px;
      margin: 0 auto;
    }

    .extras {
      float: right;
      text-align: right;

      a {
        display: block;
        margin-bottom: 0.5rem;
      }
    }

    .password-reset {
      h1 {
        margin-bottom: 1rem;
      }

      p {
        margin-bottom: 2rem;
      }
    }
  }
}

// password reset
.modal {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(#333, 0.5);

  .modal-content {
    position: relative;
    margin: auto;
    width: 100%;
    max-width: 400px;
    background: #fff;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 rgba(#333, 0.5);
    z-index: 999;

    .close {
      position: absolute;
      top: 10px;
      right: 10px;
      padding: 5px;
      cursor: pointer;
      transition: 0.15s;

      &:hover {
        color: #000;
      }
    }

    h3 {
      margin: 0;
    }

    p {
      margin: 15px 0;
    }

    .error {
      color: tomato;
      font-size: 12px;
    }

    .button {
      width: 100%;
    }
  }
}

// dashboard
#dashboard {
  section {
    padding: 2rem 0;
  }

  .profile {
    background: $white;
    padding: 2rem;



    p {
      color: $medium;
      margin-bottom: 1rem;
    }
  }

}

// settings
#settings {
  padding: 2rem 0;

  .col1 {
    max-width: 600px;
    margin: 5vh auto 0;
    background: $white;
    padding: 2rem;
  }

  form {
    margin-top: 3rem;
  }

  .success {
    color: $success;
    margin: 0.5rem 0 -2rem;
  }

  .button {
    margin-top: 2rem;
  }
}

#game-view{
  width: 100%;
  margin: 0 auto;
  border: 1px solid #000;
  display: grid;
  
}

#game-view-info{
  padding: 15px;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  background-color: #eee;
}

#game-view-squares{
  height: 800px;
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  box-sizing: border-box;
  background-image: url('..\\Images\\Grass.jpg');
}

.game-view-square{
  width: 11.11111%;
  height: 16.66666%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;

  font-family: cursive;
  font-size: 20px;
  text-transform: uppercase;

  text-shadow: -.5px -.5px 0 #000, .5px -.5px 0 #000, -.5px .5px 0 #000, .5px .5px 0 #000; //text outline
  margin: auto;
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
}

.game-view-square.highlighted{ background-color: green}
.game-view-square:hover {background-color: rgb(236, 234, 204)}
.game-view-square.selection{background-color: white;filter:sepia(100%);}

.game-view-square.left_edge{
  border-top: thin solid black;
  border-left: thin solid black;
  border-bottom: thin solid black;
}

.game-view-square.centre_block{
  border-top: thin solid black;
  border-bottom: thin solid black;
}

.game-view-square.right_edge{
  border-top: thin solid black;
  border-right: thin solid black;
  border-bottom: thin solid black;
}
.game-view-square.deploymentRow{
  background-image: url('..\\Images\\Dirt.jpg');
}
.game-view-square.deploymentRow:hover{filter:brightness(50%);}

.game-view-square.done{
  color:lightgray;
}
#character{
  position: relative;
  //list-style: none;
  position: absolute;
  height: 96px;
  display: inline-flex;
  margin: auto;
  width: 96px;
  //background: url('..\\Images\\black-white-back-shiny.png');  
  //background-position: -2880px -1920px; //empty block by default
}

#end-turn-button{
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 15.5px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 50px;
  margin:auto;
}

#end-turn-button:hover {
  background-color: #fff;
}

#end-turn-button:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

#end-turn-button:disabled{
  background-color: #b4722b;
}

@media (min-width: 768px) {
  #end-turn-button {
    min-width: 120px;
    padding: 0 25px;
  }
}

